

<ion-content style="overflow: auto;">

    <ion-row class="row">
        <div class="">
          <img src="assets/login_pic.gif">
          
          <ion-text>
            <h2 no-margin margin-vertical text-center id="changepsw">Change Password</h2>
          </ion-text>
        </div>
      </ion-row>



  <ion-row>
      <ion-col>
        <ion-input clearInput type="password" placeholder="Type New Password" [(ngModel)]="password" class="input"
          padding-horizontal clear-input="true"></ion-input>
      </ion-col>
  </ion-row>

  <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="updatePassword()" color="primary">
          <strong class="white" id="changepswbtn">
            Update Password</strong></ion-button>
          
      </ion-col>
    </ion-row>

</ion-content>
