<ion-header>
  <ion-toolbar>
          <ion-buttons slot="start" style="--color:white">
                <ion-back-button default-href="home" routerDirection="backward" ></ion-back-button>
          </ion-buttons>
    <ion-title id ="promotion2">Promotions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <iframe  src="http://192.168.1.84/Technoreward%20News/admin/promotions_page.php" (load)="dismissLoading()" style="width: 100%;height:100%;border:0px solid;"></iframe>
  

  
</ion-content>
