<!-- /**
* Ionic Firebase Full Auth App  (https://store.enappd.com/product/firebase-starter-full-auth/)
*
* Copyright © 2019-present Enappd. All rights reserved.
*
* This source code is licensed as per the terms found in the
* LICENSE.md file in the root directory of this source tree.
*/  -->


<ion-content no-padding style="overflow: auto;">
  <div style="margin-top: 70px;">
    <ion-card no-margin style="--background:transparent;">
      <ion-card-content>
        <ion-row class="row">
          <div>
            <img src="assets/techno_logo.png" >
          
          </div>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="text" placeholder="Username" [(ngModel)]="username" class="input"
              padding-horizontal clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="email" placeholder="Email" [(ngModel)]="email" class="input" padding-horizontal
              clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input clearInput type="password" placeholder="Password" [(ngModel)]="password" class="input"
              padding-horizontal clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row style="display: none;">
          <ion-col>
            <ion-input clearInput type="number"  [(ngModel)]="image" class="input"
              padding-horizontal clear-input="true"></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="signup()" color="primary" id="register" >
              <strong class="white">
                Register</strong></ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-text class="error" text-center>{{error}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
