ion-toolbar{
  --background : #41729c;
  --color : #fff;
}
  
  ion-icon{
    font-size: 40px;
    color: #0d6b8c;
  
  }
  
  
  hr {
    border: 0px solid;
    height: 1px !important;
    width: 500px !important;
    background: #1111132b !important;
    display: block !important;
    font-size: 2em !important;
    opacity: 1 !important;
    visibility: visible !important;
  }
  

